/**
 * Style for PMD.
 *
 * Used tools:
 *  - http://css3generator.com/
 *  - http://www.colorzilla.com/gradient-editor
 */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#sidebar {
  width: 250px;
}

#header #logo-title {
  background-color: #007ea7;
  color: #fff;
  padding: 13px 5px 13px 5px;
  width: 240px;
}

#header #logo-title h1 {
  margin: 0;
}


/* --- Mail list options --- */
#mail-options {
  background-color: #55555f;
  height: 30px;
  padding: 10px 5px 10px 5px;
  width: 240px;
}

#content #mail-options button {
  font-size: 24px;
  padding: 5px;
  width: 33px;
}

#content button {
  border: none;
  border-bottom: 3px solid;
  border-radius: 3px;
  bottom: 0;
  color: #fff;
  line-height: 20px;
  outline: none;
  padding: 3px 10px 0 10px;
  vertical-align: top;
  -webkit-border-radius: 3px;
}

#content button:active {
  margin-top: 2px;
  border-bottom-width: 1px;
}

#mail-options button#select-all,
#mail-options button#deselect-all{
  background-color: #3498db;
  border-bottom-color: #197ab7;
}

#mail-options > button#select-all:hover,
#mail-options > button#deselect-all:hover {
  background-color: #45a9ec;
}

#mail-options button#delete-selected {
  background-color: #e24f3b;
  border-bottom-color: #cd3122;
}

#mail-options button#delete-selected:hover {
  background-color: #f35f4c;
}

#mail-options > button:not(.active) {
  background-color: #ddd !important;
  border-color: #aaa !important;
}

/* --- Mail list --- */

#mails {
  background-color: #007ea7;
  color: #fff;
  float: left;
  overflow: auto;
  width: 250px;
}

#mails .mail {
  border: 1px solid rgba(0,0,0,0);
  border-left: 0;
  border-right: 0;
  margin-bottom: 5px;
  padding: 5px;
}

#mails .mail > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#mails .mail:last-child {
  border-bottom: none;
}

#mails .mail:hover {
  background-color: #00546D;
  border-color: #bbb;
  cursor: pointer;
}

#mails .mail.active {
  background-color: #00546D;
  border-color: #00546D;
}

#mails .mail .mail-from .unread {
  font-weight: bold;
}

/* --- The mail --- */

#read-mail {
  left: 250px;
  position: absolute;
  min-height: 100%;
  right: 0px;
  overflow: auto;

}

#read-mail #mail-header {
  background-color: #ddd;
  height: 98px;
  padding: 5px;
}

#read-mail #mail-header .label {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  width: 55px;
}

#read-mail #mail-header #header-options {
  margin-top: 5px;
  margin-bottom: -2px;
}

#read-mail #mail-header #header-options button {
  background-color: #3498db;
  border-bottom-color: #185d8b;
}

#read-mail #mail-header #header-options button:hover {
  background-color: #45a9ec;
}

#read-mail #mail-header #header-options #header-content-type {
  display: inline-block;
}

#read-mail #mail-body-wrapper {
  overflow: auto;
}

#read-mail #mail-body-wrapper #mail-body {
  padding: 10px;
}

#read-mail #mail-body-wrapper #mail-body #mail-content {
  border: none;
  width: 100%;
}
